/* TaskList.css */
.task-list {
    margin-top: 20px;
  }
  
  .task-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .task-list li {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .task-text {
    cursor: pointer;
  }
  
  .completed {
    text-decoration: line-through;
  }
  
  .task-actions {
    margin-top: 5px;
  }
  
  .complete-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .complete-button:hover {
    background-color: #45a049;
  }
  
  .task-list button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .task-list button:hover {
    background-color: #da190b;
  }
  